<%- include("partials/_header") -%>

<html class="bg-indigo-100">
<div class="bg-indigo-100 py-6 md:py-12">
    <div class="container px-4 mx-auto">

        <div class="py-6 md:py-12">
        <div class="text-center max-w-2xl mx-auto">
            <h1 class="text-3xl md:text-4xl font-medium mb-2">Linkleri kısaltmak için mükemmel bir servis!</h1>
            <h3 class="text-3xl md:text-4xl font-medium mb-2"><%= typeof url != 'undefined' ? url : '' %></h3>
            <form action="/comp" method="POST">
            <div class="bg-white flex items-center rounded-full shadow-xl">
                <input class="rounded-l-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none" type="url" name="linkim" placeholder="htps://fuckfuckgoogle.com" required>

                <div class="p-4">
                    <button class="bg-blue-500 text-white rounded-full p-2 hover:bg-blue-400 focus:outline-none w-12 h-12 flex items-center justify-center" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
</div>
</html>